.Navbar {
    /* background-color: #400b3e; */
    height: 5vw;
    width: 38vw;
    /* border: 2px solid blanchedalmond; */
    margin-left: 4vw;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1vw;
    font-size: 18px;
    margin-right: 20vw;
    color: whitesmoke;
}
.mainnavbar{
  background-color: #400b3e;
  display: flex;
  justify-content: space-between;
  border: 0.9px solid  white;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
/* position: fixed; */


  

}
.t{
    height: 20vw;

    width: 40vw;

    
}
.T{
    position: relative;
    right: 10vw;
}

.item{
    margin-top: 10px;
    margin-left: 1vw;
    font-weight: 620;

}
.navsecond{
    /* background-color: #400b3e; */
    height: 5vw;
    width: 38vw;
    /* border: 2px solid blanchedalmond; */
    padding-top: 0.8vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 620;



}
.item1:hover{
    cursor: pointer;
}
.smallbox{
    /* border: 2px solid blanchedalmond; */
   padding: auto;
    width: 14vw;
    font-size: 18px;
    font-weight: 620;
    margin-bottom: 5px;
    color: white;
    margin-left: 2vw;;

}

.btn{
    height: 7vh;
width: 10vw;
border-radius: 3vw;
font-size: 18px;
/* border :"2px solid white"; */

background-color: #FFF3ED;
color: #d45dd0;
}
.btn:hover{
    background-color: #701c78;
    cursor: pointer;
}
.item:hover{
    color: #701c78;
    cursor: pointer;
}
.imgicon{
    filter: invert(0.90);
}



/* upperbase Css */

.password{
    
        position: relative;
        bottom: 3vw;

        cursor: pointer;
        left : 11vw;

}
.upperbase{
    background-color: #400b3e;
    height: 72vw;
}

.uppertitle{
    font-family: 'GT Haptik Medium',sans-serif;
    font-weight: 400;
    font-size: clamp(5rem * 0.5, 4.9vw, 5rem);
    text-align: left;
    color: #FFF3ED;
margin-bottom: 25px;
max-width: 950px;
margin-left: 10vw;
padding-top: 1vw;

}
.upperbodytwo{
    line-height: 1.5;
    font-size: clamp( 1.5rem * 0.8, 1.65vw, 1.5rem );
    margin-bottom: 40px;
    max-width: 80%;
    color: #FCE5D8;
padding-left: 10vw;
height: auto;
}
.imgiconlogo{
    filter: invert(0.50);
    
  margin-left: 7px;

}
.imgiconlogo:hover{
cursor: pointer;
filter: invert(8.50);

}

.signupbtn:hover{
cursor: pointer;
background-color: #948685;
}
.signupbtn{
    background-color:#c938c4;
    border: #c938c4;
}

.justTime{
    color: #FCE5D8;
    padding-top: 12px;
    font-family: 'GT Haptik Medium',sans-serif;
    font-weight: 400;
    font-size: clamp(1.5rem * 0.8, 2vw, 1.5rem);
  
    /* position: absolute; */
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #e8d0cf;
    color: black;
    top: 145px;
    left: 40px;
    height: 7vw;
    /* opacity: 2; */
    -webkit-transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}


.just{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #E57CD8;
 
}
.span{
    border: 2px solid #E57CD8;
   


}

.span:hover{
    color: #E57CD8;
cursor: pointer;
    
}

.slow {
    display: inline-block;
    vertical-align: bottom;
    max-width: 10rem;
    overflow: hidden;
    /* border: 2px solid red; */
    animation: slow 3s ease forwards;
    /* border: 2px solid black; */

  }
  
  @keyframes slow {
    from {
      max-width:5rem;
    }
    to {
      max-width: 10rem;
    }
  }

  .stand{
    display: inline-block;
    vertical-align: bottom;
    max-width: 10rem;
    overflow: hidden;
    /* border: 2px solid red; */
    animation: slow 4s infinite;
    /* border: 2px solid black; */

  }

  @keyframes stand {
    from {
      max-width:5rem;
    }
    to {
      max-width: 10rem;
    }
  }

  .svg svg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}


.active .Timerstop {
    visibility: visible;
    opacity: 1;
    transition-delay: 2s;
}
.svg{
    position: relative;
    /* top: 2vw; */
    bottom: 15px;
}
.banner{
    width: 73vw;
    border: 2px solid white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vw;
    margin-left: 14vw;

}


.formButton2{

        font-family: 'GT Haptik Medium',sans-serif;
        font-size: 1rem;
        background: white;
        width: 18vw;
font-weight: 600;
        border: none;
        color: #2C1338;
border:2px solid black;
border-radius: 2vw;
        cursor: pointer;
        margin-bottom: 2vw;
       

}
.Symbols:hover{
    cursor: pointer;
}
.signupbyn{
    background-color: #d64ba5;
    border: #2C1338;
}
.Loginin{
    background-color: #c938c4;
    border: 2px solid #c938c4 ;
    font-weight: bold;
}

.Loginin:hover{
    background-color: #614d5b;
    border: 2px solid #614d5b;
    cursor: pointer;
}


.signupbyn:hover{
 
    cursor: pointer;
    background-color: #735568;
    border: #2C1338;
}




.navimg { position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    max-height: 80vh;
    background-size: cover;
background: url('./img.png');

z-index: -1
}






.dropdown{
border:'2px solid yellow';
height: 23vw;
position: absolute;
background-color: #FCE5D8;
/* position: relative; */
position: absolute;
}

.titledrop{
    /* border: 2px solid red; */
    margin-top: 18px;
    padding-left:4vw;
    color: rgb(129, 113, 135);
    font-family: "GT Haptik Medium", sans-serif;
    font-size: clamp(0.95rem, 1vw, 1rem);
    text-transform: uppercase;
    letter-spacing: 0.25px;
    width: 100%;
    position: relative;
    right: 39vw;
}

.titlediv{

    color: rgb(65, 42, 76);
    line-height: 1.5;
    font-size: clamp(1.0125rem, 1.25vw, 1.125rem);
    font-family: "GT Haptik Medium", sans-serif;
    margin-bottom: 2px;
}
.titlediv:hover{
    font-family: cursive;
    cursor: pointer;
}
.cursive:hover{
    font-family: cursive;
    cursor: pointer;
}
.titlediv1{
    color: rgb(129, 113, 135);
    font-size: 0.875rem;
    line-height: 1.35;
}
.drop1{
    margin-left: 4vw;
    font-weight: 500;
    margin-top: 3vw;

}

.trackarrow{
    height: 4vw;
    margin-top: 2vw;
    border:"2px solid black";
background-color: #fef4fe;
width: 90vw;
padding-right:"3vw";
position: relative;
left: 4vw;

}
.trackarrow:hover{
    cursor: pointer;
    background-color: #e2dbf4;
}

.divmainbranch{
    display: flex;
    justify-content: space-around;
    margin-top: 5vw;
}

.divmain1{
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    text-align: left;
    padding-left: 1vw;
}


.divmain2{
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    text-align: left;
    padding-left: 1vw;
    height: 35vw;



}


.learndiv{
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
width: 21vw;
height: 20vw;
text-align: left;
padding-left: 1vw;
}


.projectdiv{
    display: flex;
    margin-top: 2vw;
    justify-content: space-evenly;
}


.skewdiv{
    margin-top: 15vw;
    -webkit-transform: skewY(10deg);
    -moz-transform: skewY(10deg);
    -ms-transform: skewY(10deg);
    transform: skewY(10deg);
    background: #2C1338;
    overflow: hidden;
    position: relative;
    z-index: 1;
    overflow: visible;
    height: 60vw;
    position: relative;
    bottom: 25vw;
}

.goal{
    color: #FFF3ED;
    font-family: 'GT Haptik Medium',sans-serif;
  font-family: Arial, Helvetica, sans-serif;
    /* line-height: 1.25; */
    width:"10vw";
    height: 7vw;
    font-size: clamp(2rem * 0.8, 2.5vw, 2rem);
    transform: skewY(-10deg);
border :'2px solid white';




}


.skewdiv1{
    transform: skewY(-10deg);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
/* border :'2px solid white' */
}

.brand{
    transform: skewY(-10deg);
background-color: #2C1338;

}

.startbtn{
    background-color: #c938c4;
    color: white;
}

.startbtn:hover{
    background-color: #2C1338;
    cursor: pointer;
}